@font-face {
    src: url("Terminal.ttf");
    font-family: "jua"
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

.Terminal a {
    animation: blink-effect 1s step-end infinite;

    /*
    animation-name: blink-effect;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-timing-function:step-end;
    */
}

body {
    background-color: #141414;
    font-family: "jua";
    color: #2F7329;
}